<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <!-- sns 링크는 다 새탭에서 열리도록 a태그 설정 / 클릭 후 파란색으로 바뀌도록 css 설정-->
            <div class="col">
               <a href="#"><img src="/img/common/insta_color.png" class="icon"></a>
            </div>
            <div class="col">
                <a href="#"><img src="/img/common/tiktok_color.png" class="icon"></a>
            </div>
            <div class="col">
                <a href="#"><img src="/img/common/youtube_color.png" class="icon_youtube"></a>
            </div>
            <div class="col">
                <a href="#"><img src="/img/common/gmail_color.png" class="icon"></a>
            </div>
            <div class="col"></div>
        </div>
    </div>
</footer>
</body>
</html>