<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>BOOY</title>
</head>
<body>
    <header th:fragment="header" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    BOOY
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <a href="/blooming">blooming.</a>
                </div>
                <div class="col">
                    <a href="/genderless">genderless.</a>
                </div>
                <div class="col">
                    <a href="/creepyHouse">creepy house.</a>
                </div>
                <div class="col">
                    <a href="/rudeBoy">rude boy.</a>
                </div>
                <div class="col">
                    <a href="/sunrise">sunrise.</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </header>
</body>
</html>
